<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>My Lyric Project Notes</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
	</head>

	<body>
		<div id="logo">
			<span id="tags"> 编程 / 思考 / 音乐 / 改变 / 生活 </span>
			<h1><a href="/">My Lyric Project Notes</a></h1>
    </div>
		<div id="wrapper">
			<div id="content" class="index">
				<div id="sidebar">
					<ul>
						<li>
							<a href="/">ARTICLES</a>
							<ul>
								{% for category in site.categories %}
								<li><a href="/{{ category[0]  }}.html"> {{ category[0]  }}</a></li>
								{% endfor %}
							</ul>
						</li>
						<li><a href="/project.html">PROJECTS</a></li>
						<li><a href="/about.html">ABOUT</a></li>
						<li><a href="/contact.html">CONTACT</a></li>
					</ul>
				</div>
				<div id="main">
					{{ content }}
				</div>
    
				<div id="footer">
					<span style="color:#bbb;font-size:12px">When you want to succeed as bad as you want to breathe, then you'll be successful!</span>
					<p style="clear:both"></p>
				</div>


	</body>
</html>


